* {
  padding: 0;
  margin: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkolivegreen;
}

.board {
  /* height: calc(64px * 10); */
  /* width: calc(64px * 10); */
  /* display: flex; */
  /* flex-wrap: wrap; */

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.cell {
  /* height: 64px; */
  /* width: 64px; */
  height: 3rem;
  width: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  /* height: 48px; */
  /* width: 48px; */
  height: 2.5rem;
  width: 2.5rem;
  position: relative;
  cursor: pointer;
}

.black {
  background-color: brown;
}

.white {
  background-color: darkgoldenrod;
}

.blank {
  background-color: cadetblue;
}

.queen.black {
  background-image: url(assets/black-queen.png);
}
.rook.black {
  background-image: url(assets/black-rook.png);
}
.knight.black {
  background-image: url(assets/black-knight.png);
}
.archer.black {
  background-image: url(assets/black-archer.png);
}
.bishop.black {
  background-image: url(assets/black-bishop.png);
}

.queen.white {
  background-image: url(assets/white-queen.png);
}
.rook.white {
  background-image: url(assets/white-rook.png);
}
.knight.white {
  background-image: url(assets/white-knight.png);
}
.archer.white {
  background-image: url(assets/white-archer.png);
}
.bishop.white {
  background-image: url(assets/white-bishop.png);
}

.selected {
  background-color: royalblue;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: darkblue;
}

.current-player {
  margin: 1rem;
}

.graveyard {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 60px;
  background-color: darkgray;
  overflow-x: overlay;
}

.promo-modal {
  display: none;
}
.promo-modal.active {
  display: block;
}
.promo-modal .cell {
  background-size: 2.5rem;
  background-position: center center;
  background-repeat: no-repeat;
}

.promo-background {
  position: absolute;
  inset: 0;
  margin: auto;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.6;
}

.promo-container {
  height: 12rem;
  width: 18rem;
  position: absolute;
  inset: 0;
  margin: auto;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promo-title {
  font-weight: 600;
  padding: 0.5rem;
}

.promo-select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  height: 6.5rem;
  width: 12rem;
}
