* {
  padding: 0;
  margin: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkolivegreen;
  overflow: hidden;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.cell {
  height: 3rem;
  width: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  height: 2.5rem;
  width: 2.5rem;
  position: relative;
  cursor: pointer;
}

.cell.red {
  background-color: red;
}

.cell:has(.available) {
  cursor: pointer;
}

.black {
  background-color: brown;
}

.white {
  background-color: darkgoldenrod;
}

.blank {
  background-color: cadetblue;
}

.queen.black {
  background-image: url(assets/black-queen.png);
}
.rook.black {
  background-image: url(assets/black-rook.png);
}
.knight.black {
  background-image: url(assets/black-knight.png);
}
.archer.black {
  background-image: url(assets/black-archer.png);
}
.bishop.black {
  background-image: url(assets/black-bishop.png);
}

.queen.white {
  background-image: url(assets/white-queen.png);
}
.rook.white {
  background-image: url(assets/white-rook.png);
}
.knight.white {
  background-image: url(assets/white-knight.png);
}
.archer.white {
  background-image: url(assets/white-archer.png);
}
.bishop.white {
  background-image: url(assets/white-bishop.png);
}

.selected {
  background-color: royalblue;
}

.available {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 50%;
  background-color: darkblue;
}

.current-player {
  position: absolute;
  position: absolute;
  font-size: 1.5rem;
  font-style: italic;
  border: 0.5rem solid;
  padding: 0.4rem;
  border-radius: 1rem;
  text-transform: capitalize;
  z-index: 1;
}
.current-player.black {
  top: 1rem;
  border-color: black;
  color: black;
  background-color: transparent;
}
.current-player.white {
  bottom: 1rem;
  border-color: white;
  color: white;
  background-color: transparent;
}

.graveyard {
  height: 13rem;
  width: 10rem;
  padding: 1rem;
  margin-left: 1rem;
  background-color: darkgray;
  overflow-x: overlay;
}

.graveyard > h3 {
  margin-bottom: 1rem;
}

.rip {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.2rem;
}

.promo-modal {
  display: none;
}
.promo-modal.active {
  display: block;
}
.promo-modal .cell {
  background-size: 2.5rem;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.promo-modal .cell:hover {
  transition: all 250ms;
  opacity: .8;
}

.promo-background {
  position: absolute;
  inset: 0;
  margin: auto;
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.6;
}

.promo-container {
  height: 12rem;
  width: 18rem;
  position: absolute;
  inset: 0;
  margin: auto;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.25rem solid darkolivegreen;
  border-radius: 1rem;
}

.promo-title {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem;
}

.promo-select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  height: 6.5rem;
  width: 12rem;
}

@media (max-width: 700px) {
  html {
    font-size: 12px;
  }

  .current-player.black {
    top: 5rem;
  }
  .current-player.white {
    bottom: 5rem;
  }
}

@media (max-width: 520px) {
  .losses {
    display: none;
  }

  .current-player.black {
    top: 8rem;
  }
  .current-player.white {
    bottom: 8rem;
  }
}

@media (orientation: landscape) and (max-height: 400px) {
  html {
    font-size: 10px;
  }

  .current-player.black {
    top: 0.5rem;
  }
  .current-player.white {
    bottom: 0.5rem;
  }
}
